.orderDetails {
    width: 35%;
    border: 1px solid orange;
    padding: 20px;
    text-align: center;
}
.orderDetails strong {
    margin-top: 20px;
    display: inline-block;
}
.order-details-item {
    display: flex;
    justify-content: space-around;
}
.order-details-item span {
    width: 25%;
}
.orderDetails button {
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}