.order-item {
    border: 1px solid black;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 2px 0;
    text-align: center;
}
.order-item p {
    margin: 5px;
}